.App h1 {
  text-align: center;
}

.destroy,
.Datatable__filter:focus,
.Datatable__select:focus,
.Datatable__pagination button:focus {
  outline: none;
}

.Datatable {
  text-align: center;
}

.Datatable__filter {
  display: block;
  margin: 0 auto 8px;
  padding: 5px 10px;
  width: 210px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonface;
  border-image: initial;
  box-sizing: border-box;
}

.Datatable__filter::placeholder {
  text-align: center;
}

.Datatable__select {
  margin-bottom: 10px;
  padding-left: 10px;
  width: 70px;
  text-align-last: center;
  -webkit-appearance: button;
  cursor: pointer;
}

.Datatable__pagination {
  margin-bottom: 20px;
}

.Datatable__pagination button {
  margin: 0 2px;
  cursor: pointer;
}

.Table {
  margin: 0 auto 50px;
  text-align: left;
  border-spacing: 0;
}

.Table__link {
  text-decoration: none;
  color: darkblue;
}

.Table th {
  border-right: 1px solid dimgray;
}

.Table th,
.Table__td {
  padding: 5px 10px;
  border-bottom: 1px solid dimgray;
}

.Table th:nth-child(3) {
  width: 33px;
}

.Table th:nth-child(4) {
  width: 135px;
}

.Table th:nth-child(5) {
  width: 110px;
}

.Table th:last-child {
  border-right: none;
}

.Table__td:nth-child(n + 3):nth-child(-n + 6) {
  text-align: center;
}

.Table__sort-up::after,
.Table__sort-down::after {
  color: darkblue;
  margin-left: 5px;
}

.Table__sort-up::after {
  content: '▼';
}

.Table__sort-down::after {
  content: '▲';
}

.Table__td label {
  position: relative;
}

.Table__input {
  width: 100%;
  box-sizing: border-box;
}

.Table__destroy {
  position: absolute;
  top: 5px;
  right: 3px;
  padding: 0;
  width: 14px;
  height: 14px;
  font-size: 7px;
  line-height: 15px;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 50%;
  background-color: rgba(150, 0, 0, 1);
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  /* -webkit-transform: translateY(-42%); */
  /* transform: translateY(-37%); */
  transition: box-shadow 500ms ease-in-out;
}

.Table__destroy:hover {
  box-shadow: none;
}

.Table__destroy:active {
  color: lemonchiffon;
  background-color: rgba(120, 0, 0, 1);
}
