.App h1 {
  text-align: center;
}

.Datatable {
  text-align: center;
}

.Datatable__filter {
  display: block;
  margin: 0 auto 8px;
  padding: 5px 10px;
  width: 210px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonface;
  border-image: initial;
  box-sizing: border-box;
}

.Datatable__filter::placeholder {
  text-align: center;
}

.Datatable__select {
  margin-bottom: 10px;
  padding-left: 10px;
  width: 70px;
  text-align-last: center;
  -webkit-appearance: button;
  cursor: pointer;
}

.Datatable__pagination {
  margin-bottom: 20px;
}

.Datatable__pagination button {
  margin: 0 2px;
  cursor: pointer;
}

.Datatable__filter:focus,
.Datatable__select:focus,
.Datatable__pagination button:focus {
  outline: none;
}

.Table {
  margin: 0 auto 50px;
  text-align: left;
  border-spacing: 0;
}

.Table__link {
  text-decoration: none;
  /*font-style: italic;*/
  color: darkblue;
}

.Table th {
  border-right: 1px solid dimgray;
}

.Table th,
.Table td {
  padding: 5px 10px;
  border-bottom: 1px solid dimgray;
}

.Table th:last-child{
  border-right: none;
}


.Table td:nth-child(n + 3):nth-child(-n + 5) {
  text-align: center;
}

.Table__sort-up::after,
.Table__sort-down::after {
  color: darkblue;
  margin-left: 5px;
}

.Table__sort-up::after {
  content: '▼';
}

.Table__sort-down::after {
  content: '▲';
}